table {
    margin-top: 10px;
    margin-bottom: 100px;
}
.container{
    margin-left: 100px;
}
input {
    width: 100px;
}
input.search {
    margin: auto;
    width: 200px;
}
button.onayla {
    float: right;
}
.btn-close:hover {
    background-color: #3178ea;
}
.form-control:focus {
    border-color: #3178ea !important;
    box-shadow: 0 0 5px #3178ea !important;
}

div.left{
    display: table-cell;
}
div.right{
    padding-left: 200px;
    display: table-cell;
}
h5 {
    text-align: center;
    color: #3178ea;
}
.head{
    text-align: center;
}
.add{
    margin-top: 50px;
    width: 500px;
}
button.ekle {
    margin-left: 30px;
    margin-top: -5px;
}
h4 {
    float: left;
}
h3 {
    text-align: center;
    margin-bottom: 30px;
}
