div.takebook {
    width: 1400px;
    height: 100px;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    padding: 25px;
    border:1px solid black;
  }
  
  img.takebook-logo {
    margin-top: -10px;
    border-radius: 10px;
    height: 60px;
    width: 50px;
    margin-left: 50px;
    margin-right: 30px;
    float: left;
  }
  
  form.d-flex {
    width: 500px;
    margin-left: 50px;
    float: left;
  }
  h2 {
    margin-right: 50px;
    float: left;
    letter-spacing: 3px;
  }

  .sepet {
    float: left;
    background-color: #f0f2f5;
    border-color: #3178ea;
    color: #3178ea;
  }
  .sb {
    background-color: #3178ea;
    color: #f0f2f5;
  }
  .sepet:hover .sb {
    background-color: #f0f2f5;
    color: #3178ea;
  }
  .sepet:hover {
    border-color: #3178ea;
    background-color: #3178ea;
    color: #f0f2f5;
  }
  
  .favori {
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #f0f2f5;
    border-color: #65b543;
    color: #65b543;
  }
  .fb {
    background-color: #65b543;
    color: #f0f2f5;
  }
  .favori:hover .fb {
    background-color: #f0f2f5;
    color: #65b543;
  }
  .favori:hover {
    border-color: #65b543;
    background-color: #65b543;
    color: #f0f2f5;
  }
  .form-control:focus {
    border-color: #3178ea !important;
    box-shadow: 0 0 5px #3178ea !important;
  }

  div.form-check {
    margin: 20px;
    margin-left: 100px;
    float: left;
  }

  .sira {
    float: left;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 5px;
  }

  .bir {
      float: left; 
    }

.iki {
    float: left;
}

.uc {
    float: left;
}

div.sonuc {
    width: 1200px;
    height: auto;
    margin-top: 150px;
    margin-left: 150px;
    border:1px solid black; 
    position: relative;
    z-index: 90;
}

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
}
.ribbon {
  font: bold 15px sans-serif;
  color: #333;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: relative;
  padding: 7px 0;
  top: 15px;
  left: -30px;
  width: 120px;
  background-color: #3178ea;
  color: #f0f2f5;
}

div.cards {
    float: left;
}
.sep {
    margin-left: 40px;
    margin-top: 10px;
    float: left;
    background-color: #f0f2f5;
    border-color: #3178ea;
    color: #3178ea;
}
.sep:hover {
    background-color: #3178ea;
    color: #f0f2f5;
}
  
  .fav {
    margin-left: 40px;
    margin-top: 20px;
    background-color: #f0f2f5;
    border-color: #65b543;
    color: #65b543;
  }
.fav:hover {
    border-color: #65b543;
    background-color: #65b543;
    color: #f0f2f5;
  }

.buttonlar {
    float: right;
    margin: 20px;
    margin-right: 250px;

}