<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/admin.css') }}">
    <title>Admin</title>
    <link rel = "icon" href = "http://127.0.0.1:8887/logo.png" type = "image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Admin Kontrol Paneli</h1> <hr> <br>
        <a href="/kullanici_crud"><button type="button" class="button_slide slide_left btn btn-warning "><h6>KULLANICI</h6></button></a> 
        <a href="/kitap_crud"><button type="button" class="button_slide slide_left btn btn-success "><h6>KİTAP</h6></button></a> 
        <a href="/kategori_crud"><button type="button" class="button_slide slide_left btn btn-danger "><h6>KATEGORİ</h6></button></a> <br>
        <a href="/yayinevi_crud"><button type="button" class="button_slide slide_left btn btn-success blue"><h6>YAYINEVİ</h6></button></a> 
        <a href="/yazar_crud"><button type="button" class="button_slide slide_left btn btn-info "><h6>YAZAR</h6></button></a> 
        <a href="/yorum_crud"><button type="button" class="button_slide slide_left btn btn-warning "><h6>YORUM</h6></button></a> 
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>