{% macro card(image, title, price, kitap_id) %}
<div class="kabuk">
    <div class="container" style="background: url('http://127.0.0.1:8887/{{image}}'); background-size: cover; ">
        <div class="overlay">
            <div class = "items head">
                <p>{{title}}</p>
                <hr>
            </div>
            <div class = "items price">
                <p class="new">₺{{price}}</p>
            </div> 
            <div class="items cart">
            <a href="/kitap/{{kitap_id}}"><button type="button" class="sayfa btn btn-success">
              Sayfaya Git
            </button></a>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro yorum(kullanici_adi, puan, tarih, yorum) %}
<div class="kabuk">
    <div class="icerik">
        <h6 class="ka">{{kullanici_adi}}</h6>
        {% if puan == 1 %}
        <label class="star">★</label>
        {% elif puan == 2 %}
        <label class="star">★★</label>
        {% elif puan == 3 %}
        <label class="star">★★★</label>
        {% elif puan == 4 %}
        <label class="star">★★★★</label>
        {% else %}
        <label class="star">★★★★</label>
        {% endif %}
        <label class="trh">{{tarih}}</label> <br>
        <label class="comment">{{yorum}}</label>
    </div>
</div>
{% endmacro %}

{% macro yorum_kullanici(kullanici_adi, puan, tarih, yorum, kitap) %}
<div class="kabuk">
    <div class="icerik">
        <h6 class="ka">{{kullanici_adi}}</h6>
        {% if puan == 1 %}
        <label class="star">★</label>
        {% elif puan == 2 %}
        <label class="star">★★</label>
        {% elif puan == 3 %}
        <label class="star">★★★</label>
        {% elif puan == 4 %}
        <label class="star">★★★★</label>
        {% else %}
        <label class="star">★★★★</label>
        {% endif %}
        <label class="trh">{{tarih}}</label>
        <label class="ktp">{{kitap}}</label> <br>
        <label class="comment">{{yorum}}</label>
    </div>
</div>
{% endmacro %}
