{% import "components.html" as components %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanici Adi</title>
    <link rel = "icon" href = "http://127.0.0.1:8887/logo.png" type = "image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/kullanici.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/yorum_kullanici.css') }}">
</head>
<body>
    <div class="takebook">
        <img class="takebook-logo" src="http://127.0.0.1:8887/logo.jpg">
        <h2>takebook</h2>
        <form class="d-flex" action="">
            <input class="form-control me-2" type="search" placeholder="kitap adı, yazar veya yayınevi ara" aria-label="Search">
            <button class="sepet btn btn-outline-success" type="submit">Ara</button>
        </form>
        <a href="/">
            <button type="button" class="favori btn btn-success">
              Favorilerim <span class="fb badge badge-light">4</span>
          </button>
          </a>
          <a href="/">
            <button type="button" class="sepet btn btn-primary">
              Sepetim <span class="sb badge badge-light">4</span>
          </button>
          </a>
    </div>

    <div class="kullanici">
        <div class="avatar">
            <div class="flip-box">
                <div class="flip-box-inner">
                    <img class="kitap-kapak" src="http://127.0.0.1:8887/logo.png">
                </div>
              </div>
        </div>
        <hr>
        <div class="ozellik">
            <label class="left">AD:</label>
            <label class="right">MEHMET</label> <br> 
            
            <label class="left">AD: </label>
            <label class="right">MEHMET</label> <br>
        </div>
    </div>
    <div class="detaylar">
        <div class="bakiye">
            <h6 class="bh">Güncel Bakiye: Bakiye</h6>
            <button type="button" class="ekle btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Ekle</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">BAKİYE EKLE</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <form action="/" method="POST">
                    <label>Eklenecek Miktar: </label>
                    <input name="kitap_id" type="text" class="form-control2" ><br>
                    <button type="submit" class="onayla btn btn-primary">Onayla</button> <br>
                </form>
                </div>
                </div>
            </div>
            </div>
        </div> <hr>
        <div class="yorumlar">
            <h6 class="yh">Yapılan Yorumlar</h6> <br>
            {% for yorum in yorumlar %}
                {{ components.yorum_kullanici("annemarie", 2, "22.01.2020", "cok begendim", "anan") }}
             {% endfor %}
        {{ components.yorum_kullanici("annemarie", 2, "22.01.2020", "cok begendim", "anan") }}
        {{ components.yorum_kullanici("annemarie", 2, "22.01.2020", "cok begendim", "anan") }}
        {{ components.yorum_kullanici("annemarie", 3, "22.01.2020", "cok begendim", "anan") }}
        {{ components.yorum_kullanici("annemarie", 1, "22.01.2020", "cok begendim", "anan") }}
        {{ components.yorum_kullanici("annemarie", 5, "22.01.2020", "cok begendim", "anan") }}
        </div>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
