<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/yayinevi_crud.css') }}">
    <title>Yayınevi</title>
    <link rel = "icon" href = "http://127.0.0.1:8887/logo.png" type = "image/x-icon">
</head>
<body>
    <div class="container">
        <div class="add">
            <h4>Yayınevi Ekle</h4>
            <button type="button" class="ekle btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">EKLE</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">YAYINEVİ EKLE</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <form action="/" method="POST">
                    <label>Yayınevi ID: </label>
                    <input name="yayinevi_id" type="text" class="form-control" ><br>
                    <label>Yayınevi İsmi: </label>
                    <input name="yayinevi_ismi" type="text" class="form-control" ><br>
                    <button type="submit" class="onayla btn btn-primary">Onayla</button> <br>
                </form>
                </div>
                </div>
            </div>
            </div>
        </div>
        <form class="d-flex" action="">
            <input class="search form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="head">
          <h3>Yayınevi Listesi</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Yayınevi ID</th>
                <th scope="col">Yayınevi İsmi</th>
                <th scope="col">Sil</th>
                <th scope="col">Güncelle</th>
              </tr>
            </thead>
            <tbody>
                {% for yayinevi in yayinevleri %}
              <tr>
              <td>{{yayinevi[0]}}</td>
              <td>{{yayinevi[1]}}</td>
              <td><a href="/delete_yayinevi/{{yayinevi[0]}}" class="btn btn-danger">Sil</a></td>
              <td>
                <button type="button" class="guncelle btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Güncelle</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">YAYINEVİ GÜNCELLE</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/" method="POST">
                        <label>Yayınevi ID: </label>
                        <input name="yayinevi_id" type="text" class="form-control" value={{yayinevi[0]}}><br>
                        <label>Yayınevi İsmi: </label>
                        <input name="yayinevi_ismi" type="text" class="form-control" value={{yayinevi[1]}}><br>
                        <button type="submit" class="onayla btn btn-primary">Onayla</button> <br>
                        </form>
                    </div>
                    </div>
                </div>
                </div>
              
              
              </td>
              </tr>
              
              {% endfor %}
            </tbody>
        </table>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>