<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/yorum_crud.css') }}">
    <title>Yorum</title>
    <link rel = "icon" href = "http://127.0.0.1:8887/logo.png" type = "image/x-icon">
</head>
<body>
    <div class="container">
        <form class="d-flex" action="/yorum_ara" method="POST">
            <input name="search_word" class="search form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="head">
          <h3>Yorum Listesi</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Yorum ID</th>
                <th scope="col">Yorum İçeriği</th>
                <th scope="col">Sil</th>
              </tr>
            </thead>
            <tbody>
                {% for yorum in yorumlar %}
              <tr>
              <td>{{yorum[0]}}</td>
              <td>{{yorum[1]}}</td>
              <td><a href="/delete_yorum/{{yorum[0]}}" class="btn btn-danger">Sil</a></td>
              </tr>
              
              {% endfor %}
            </tbody>
        </table>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>